@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";


.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }

  .logo img{
      width: 40px;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon{
      @include sm{
        display: none;
      }
    }

    .notification {
      position: relative;

      span {
        background-color: red;
        color: white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .settings {
      position: relative;
      cursor: pointer;

      .menu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: black;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 0;
        width: 120px;

        ul {
          list-style-type: none;
          padding: 0;

          li {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #f0f0f0;
            }
          }
        }

        .item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 20px;

          .title {
            font-size: 14px;
            font-weight: bold;
            color: $soft-color;
            text-transform: uppercase;

            @include lg{
              display: none;
            }
          }

          .listItem {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 5px;

            &:hover {
              background-color: $soft-bg;
            }

            .listItemTitle{
              @include lg{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
